<footer>
    <div class="section padding-top-big background-black">
		<div class="container padding-bottom-big">
			<div class="row justify-content-center">
				<div class="col-sm">
					<ul class="footer-list">
						<li class="text-center"><a href="#concept">The Vision</a></li>
						<li class="text-center"><a href="#coin">ECC COIN</a></li>
						<li class="text-center"><a href="#wallet">WALLET</a></li>
						<li class="text-center"><a href="#roadmap">ROADMAP</a></li>
						<li class="text-center"><a href="#exchanges">EXCHANGES</a></li>
						<li class="text-center"><a href="#code">CODE</a></li>
						<li class="text-center"><a href="#socials">SOCIALS</a></li>
						<li class="text-center"><a href="#donate">DONATE</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="section py-4 background-dark-blue-4">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 footer text-center text-lg-left">
						<p>© 2018-{{ 'now' | date: "%Y" }} The Eccoin Developers, All Rights Reserved</p>
					</div>
					<div class="col-lg-6 footer mt-4 mr-auto mt-lg-0 mr-lg-0 text-center text-lg-right">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="scroll-to-top">to top</div>
</footer>
<!-- JAVASCRIPT
================================================== -->
<script src="{{ "/assets/js/jquery-3.2.1.min.js" | prepend: site.baseurl }}"    crossorigin="anonymous"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"       crossorigin="anonymous"></script>
<script src="{{ "/assets/js/plugins.js" | prepend: site.baseurl }}"             crossorigin="anonymous"></script>
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"              crossorigin="anonymous"></script>
</html>
