{% include _header.html %}

<body>
    <div class="loader dark">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
			<rect x="0" y="0" width="4" height="10" fill="#333">
				<animateTransform attributeType="xml"
				attributeName="transform" type="translate"
				values="0 0; 0 20; 0 0"
				begin="0" dur="0.6s" repeatCount="indefinite" />
			</rect>
			<rect x="10" y="0" width="4" height="10" fill="#333">
				<animateTransform attributeType="xml"
				attributeName="transform" type="translate"
				values="0 0; 0 20; 0 0"
				begin="0.2s" dur="0.6s" repeatCount="indefinite" />
			</rect>
			<rect x="20" y="0" width="4" height="10" fill="#333">
				<animateTransform attributeType="xml"
				attributeName="transform" type="translate"
				values="0 0; 0 20; 0 0"
				begin="0.4s" dur="0.6s" repeatCount="indefinite" />
			</rect>
		</svg>
	</div>
	<!-- Nav and Logo
	================================================== -->
	<div id="menu-wrap" class="menu-back cbp-af-header dark">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-lg navbar-light bg-light mx-lg-0">
						<a class="navbar-brand" href="index.html"><img src="{{ "/assets/img/ecc_logo_small.png" | prepend: site.baseurl }}" style="max-width:120px" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon">
								<span class="menu-icon__line menu-icon__line-left"></span>
								<span class="menu-icon__line"></span>
								<span class="menu-icon__line menu-icon__line-right"></span>
							</span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item">
									<a class="nav-link" href="#concept">The Vision</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#coin">ECC coin</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#wallet">Wallet</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#roadmap">Roadmap</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#exchanges">Exchanges</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#code">Code</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#socials">Socials</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#donate">Donate</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- Primary Page Layout
	================================================== -->
	<div class="section hero-height height-auto-lg hide-over background-ecc-dark">
		<div class="hero-center-wrap relative-on-lg">
			<div class="container">
				<div class="row" >
					<div class="mt-5 mt-lg-0 col-lg-4 text-center text-lg-left parallax-fade-top align-self-center z-bigger">
						<h2 class="text-white">Decentralizing the digital world.</h2>
						<p class="mt-3 mb-4 pb-3 font-weight-normal text-white">Take power over your data. ECC is breaking new ground in the fight for privacy, security & autonomy.</p>
					</div>
					<div class="col-lg-5 col-12 mt-n2 mt-m-0">
						<div class="img-wrap header-img">
							<img src="{{ "/assets/img/hero.png" | prepend: site.baseurl }}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section background-gradient-dark-re">
		<div class="container">
			<div class="row" style="justify-content: center; !important">
				<div class="col-6 col-sm">
					<div class="feature-tile ">
						<div class="feature-img-wrap">
							<img src="{{ "/assets/img/encrypted_chat.svg" | prepend: site.baseurl }}" class="feature-img" alt="">
						</div>
					<p class="lead text-center text-grey">Anonymous encrypted chat</p>
					</div>
				</div>
				<div class="col-6 col-sm">
					<div class="feature-tile ">
						<div class="feature-img-wrap">
							<img src="{{ "/assets/img/cross_swaps.svg" | prepend: site.baseurl }}" class="feature-img" alt="">
						</div>
						<p class="lead text-center text-grey">Cross-chain swaps</p>
					</div>
				</div>
  			    <div class="w-100 mt-4 d-block d-md-none"></div>
				<div class="col-6 col-sm">
					<div class="feature-tile ">
						<div class="feature-img-wrap">
							<img src="{{ "/assets/img/microservices.svg" | prepend: site.baseurl }}" class="feature-img" alt="">
						</div>
						<p class="lead text-center text-grey">Micro-service ecosystem</p>
					</div>
				</div>
				<div class="col-6 col-sm">
					<div class="feature-tile ">
						<div class="feature-img-wrap">
							<img src="{{ "/assets/img/value_utility.svg" | prepend: site.baseurl }}" class="feature-img" alt="">
						</div>
						<p class="lead text-center text-grey">Value through utility</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section padding-top-bottom-big background-ecc-dark" id="concept">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-wrap text-center">
						<div class="back-title">concept</div>
						<h3 class="text-white">Built on Satoshi's vision.</h3>
					</div>
                    <div class="col-md-9 concept-box">
						<p class="lead text-grey">	ECC believes in a future where decentralization not only ensures financial autonomy, but is the catalyst for users to regain control of their digital footprint and safeguard their privacy.  To this end, ECC has developed a novel data protocol which overlays its existing node network. This flexible protocol is the foundation for micro-services that act very much like current internet services, but with privacy guaranteed and users, not corporations, as the stewards and guardians of the network.<br><br>	The first micro-service is encrypted chat, emulating today’s familiar messaging apps but with increased security and zero centralization. The initial chat platform will also support a cross-chain swapping service.  This allows users to swap a wide range of coins directly in a p2p manner, no KYC, no 3rd party intermediary, and no prying eyes. <br><br>		This project is not attempting to decentralize single utilities or apps, the vision is larger and the tech more transformative. ECC aims give users sovereignty over their data while ushering in a new paradigm in how we communicate, share and interact with each other.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section background-ecc-dark">
		<div class="container thin-line">
		</div>
	</div>
	<div class="section padding-top-bottom-big background-ecc-dark" id="value">
		<div class="container">
			<div class="row">
				<div class="col-md-6 align-self-center">
					<h4 class="text-white">Users in control, <br> not corporations.</h4>
					<p class="lead text-grey">The utility of the internet is undeniable, but its centralization in the hands of a few bad actors is unacceptable. ECC will allow the services we use every day, to exist on a network that fundamentally can not be controlled by the few. Each full-node is part of a mesh network that dynamically finds the most efficient route between users while healing and reshaping as nodes go on and off-line. </p>
				</div>
				<div class="col-md-5 offset-md-1 order-first order-md-last mb-4 mb-md-0">
					<div class="img-wrap">
						<img src="{{ "/assets/img/users_in_control_s.png" | prepend: site.baseurl }}" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 my-5"></div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-5 mb-4 mb-md-0">
					<div class="img-wrap">
						<img src="{{ "/assets/img/security_s.png" | prepend: site.baseurl }}" alt="">
					</div>
				</div>
				<div class="col-md-6 offset-md-1 align-self-center">
					<h4 class="text-white">Security through decentralization.</h4>
					<p class="lead text-grey">The ECC data layer is fully decentralized and end-to-end encrypted. All routing and pathfinding is done based on anonymous “crypto keys” instead of traceable IP addresses. User identities are safeguarded and the data they share never goes through a central server. The protection of privacy is a core tenet of the ECC project.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section background-ecc-dark">
		<div class="container thin-line">
		</div>
	</div>
	<div class="section padding-top-bottom-big background-ecc-dark" id="coin">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-wrap text-center">
						<div class="back-title">ECC COIN</div>
						<h3 class="text-white">Value through utility.</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 align-self-center">
					<h4 class="text-white">ECC's native coin powers the network.</h4>
					<p class="lead text-grey">The ECC coin is used to pay for services on the network. As it is incorporated into more services, the demand for the coin will increase. The growth of the network grows the value of ECC.</p>
					<ul class="app-list mb-5 mt-4">
						<li class="text-grey">Proof of Stake</li>
						<li class="text-grey">25 BILLION supply</li>
						<li class="text-grey">2.5m minute block time</li>
					</ul>
					<a class="btn btn-primary mx-0" href="https://chainz.cryptoid.info/ecc/" role="button"><span>ECC Block Explorer</span></a>
				</div>
				<div class="col-md-6 order-first order-md-last mb-4 mb-md-0">
					<div class="img-wrap">
						<img src="{{ "/assets/img/value_through_utility_s.png" | prepend: site.baseurl }}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section background-ecc-dark">
		<div class="container thin-line">
		</div>
	</div>
	<div class="section padding-top-bottom-big background-ecc-dark" id="wallet">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-wrap text-center">
							<div class="back-title">wallet</div>
						<h3 class="text-white">Choose your wallet.</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-3 mb-4 mb-md-0 align-self-center">
					<div class="wallet-img-wrap">
						<img src="{{ "/assets/img/lynx_logo_solo.svg" | prepend: site.baseurl }}" class="wallet-img" alt="">
					</div>
				</div>
				<div class="col-11 col-md-8 align-self-center table-wallet">
					<h4 class="text-white">LYNX</h4>
					<p class="lead text-grey">Lynx is a GUI built on top of the ECC CLI Daemon. If you want to run a ECC full node and would like a user-friendly interface, this is the choice for you! Initial sync time is roughly 6-8 hours. </p>
					<a class="btn btn-primary mx-0" data-toggle="modal" data-target="#lynx-modal" role="button" style="margin-top:30px"><span>DOWNLOAD LYNX</span></a>
				</div>
				<div class="col-md-3 mb-4 mb-md-0 align-self-center">
					<div class="wallet-img-wrap">
						<img src="{{ "/assets/img/ecc_electrum_logo.svg" | prepend: site.baseurl }}" class="wallet-img" alt="">
					</div>
				</div>
				<div class="col-11 col-md-8 align-self-center table-wallet">
					<h4 class="text-white">ECC-ELECTRUM</h4>
					<p class="lead text-grey">The Electrum-ECC wallet is a “light wallet”. It connects to ECC full nodes on the internet and uses the Simple Payment Verification Protocol (SPV), well known from Bitcoin, to safely send and verify transactions. No need to download the whole blockchain so no sync time. With electrum you are immediately ready to make ECC transactions!</p>
					<a class="btn btn-primary mx-0"  data-toggle="modal" data-target="#electrum-modal" role="button" style="margin-top:30px"><span>DOWNLOAD ECC-ELECTRUM</span></a>
				</div>
				<div class="col-md-3 mb-4 mb-md-0 align-self-center">
					<div class="wallet-img-wrap">
						<img src="{{ "/assets/img/cli_daemon_logo.svg" | prepend: site.baseurl }}" class="wallet-img" alt="">
					</div>
				</div>
				<div class="col-11 col-md-8 align-self-center table-wallet">
					<h4 class="text-white">CLI-DAEMON</h4>
					<p class="lead text-grey">If you are a command line junkie or you want to run a "headless" ECC full node (e.g. for staking or providing Electrum-ECC nodes), this is the way to go!</p>
					<a class="btn btn-primary mx-0"  data-toggle="modal" data-target="#cli-modal" role="button" style="margin-top:30px"><span>DOWNLOAD CLI-DAEMON</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="section background-ecc-dark">
		<div class="container thin-line">
		</div>
	</div>
	<div class="section padding-top-bottom-big background-ecc-dark" id="roadmap">
		<div class="background-parallax" style="background-image: url('/assets/img/parallax-dark.jpg')" data-enllax-ratio=".5" data-enllax-type="background" data-enllax-direction="vertical"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-wrap text-center">
						<div class="back-title">roadmap</div>
						<h3 class="text-white">Always building.</h3>
						<p class="color-pr"></p>
					</div>
				</div>
				<div class="col-md-12">
					<div class="customNavigation">
						<a class="prev-roadmap dark"><i class="fa fa-angle-left"></i></a>
						<a class="next-roadmap dark"><i class="fa fa-angle-right"></i></a>
					</div>
					<div id="owl-roadmap" class="owl-carousel owl-theme">
						<div class="item dark">
							<div class="roadmap-box background-ecc-pane">
								<p class="mb-4 achieved"><span>Achieved</span></p>
								<p class="text-grey">Decentralized routing algorithm with AODV pathfinding</p>
							</div>
						</div>
						<div class="item dark">
							<div class="roadmap-box current-road background-ecc-pane">
								<p class="mb-4 achieved"><span>Achieved</span></p>
								<p class="text-grey">Proof of concept data packets on top of dynamic routes</p>
							</div>
						</div>
						<div class="item dark">
							<div class="roadmap-box next-road background-ecc-pane">
								<p class="mb-4 achieved"><span>Achieved</span></p>
								<p class="text-grey">ecchat: beta release of decentralized chat client with cross-chain trusted swaps</p>
							</div>
						</div>
						<div class="item dark">
							<div class="roadmap-box next-road background-ecc-pane">
								<p class="mb-4 current" ><span>Current</span></p>
								<p class="text-grey">ecchat: implement cross-chain Atomic Swaps</p>
							</div>
						</div>
						<div class="item dark">
							<div class="roadmap-box next-road background-ecc-pane">
								<p class="mb-4 current"><span>Current</span></p>
								<p class="text-grey">ecchat: integrate Ethereum and similar compatible chains for swap </p>
							</div>
						</div>
						<div class="item dark">
							<div class="roadmap-box next-road background-ecc-pane">
								<p class="mb-4"><span>Planned</span></p>
								<p class="text-grey">Quote based P2P Decentralized Exchange</p>
							</div>
						</div>
						<div class="item dark">
							<div class="roadmap-box next-road background-ecc-pane">
								<p class="mb-4"><span>Planned</span></p>
								<p class="text-grey">Expanded dev docs and sample apps to onboard new builders</p>
							</div>
						</div>
						<div class="item dark">
							<div class="roadmap-box next-road background-ecc-pane">
								<p class="mb-4"><span>Planned</span></p>
								<p class="text-grey">Micro-Service ecosystem - VPN, Voice & Video Chat, Social Media Platform Etc.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section background-ecc-dark">
		<div class="container thin-line">
		</div>
	</div>
	<div class="section padding-top-bottom-big background-ecc-dark" id="exchanges">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-wrap text-center">
						<div class="back-title">EXCHANGES</div>
						<h3 class="text-white">Get ECC</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="justify-content: center">
			<div class="col-sm">
				<div class="table-sale" style="box-shadow: none">
					<div class="wallet-img-wrap">
						<div class="link-icon">
								<a href="https://crex24.com/exchange/ECC-BTC">
							<img src="{{ "/assets/img/logos/crex24.svg" | prepend: site.baseurl }}" class="exchange-img" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="table-sale" style="box-shadow: none">
					<div class="wallet-img-wrap">
						<div class="link-icon">
							<a href="https://cpxclassic.com/markets/eccbtc">
							<img src="{{ "/assets/img/logos/cpatex.svg" | prepend: site.baseurl }}" class="exchange-img" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="table-sale" style="box-shadow: none">
					<div class="wallet-img-wrap">
						<div class="link-icon">
							<a href="https://p2pb2b.io/trade/ECC_BTC">
							<img src="{{ "/assets/img/logos/p2pb2b.svg" | prepend: site.baseurl }}" class="exchange-img" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section background-ecc-dark">
		<div class="container thin-line">
		</div>
	</div>
	<div class="section padding-top-bottom-big background-ecc-dark" id="code">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-wrap text-center">
						<div class="back-title">IOIIOIOIOOIO</div>
						<h3 class="text-white">The code.</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="justify-content: center">
			<div class="col-xl-3 col-sm-5">
				<div class="table-sale" style="box-shadow: none">
					<div class="wallet-img-wrap">
						<div class="link-icon">
							<a href="https://github.com/project-ecc/">
								<img src="{{ "/assets/img/logos/Github.svg" | prepend: site.baseurl }}" class="exchange-img" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-5 mt-4 mt-sm-0">
				<div class="table-sale" style="box-shadow: none">
					<div class="wallet-img-wrap">
						<div class="link-icon">
							<a href="https://gitlab.com/project-ecc/">
								<img src="{{ "/assets/img/logos/Gitlab.svg" | prepend: site.baseurl }}" class="exchange-img" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section background-ecc-dark">
		<div class="container thin-line">
		</div>
	</div>
	<div class="section padding-top-bottom-big background-ecc-dark" id="socials">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-wrap text-center">
						<div class="back-title">SOCIALS</div>
						<h3 class="text-white">Connect & Contribute.</h3>
					</div>
				</div>
			</div>
			<div class="row" style="justify-content: space-evenly">
				<div class="col-xl-1 col-sm-1 pad-none">
					<div class="social-wrap" >
						<a href="https://discord.gg/BYBhQVq">
							<div class="social-img-wrap">
								<img src="{{ "/assets/img/logos/discord.svg" | prepend: site.baseurl }}" class="social-img filter-grey" alt="">
							</div>
							<p class="text-grey">Discord</p>
						</a>
					</div>
				</div>
				<div class="col-xl-1 col-sm-1 pad-none">
					<div class="social-wrap" >
						<a href="https://t.me/joinchat/F_LCJQ0vhFFknOSMgxHPAw">
							<div class="social-img-wrap">
								<img src="{{ "/assets/img/logos/telegram.svg" | prepend: site.baseurl }}" class="social-img filter-grey" alt="">
							</div>
							<p class="text-grey">Telegram</p>
						</a>
					</div>
				</div>
				<div class="col-xl-1 col-sm-1 pad-none">
					<div class="social-wrap" >
						<a href="https://projectecc.medium.com/">
							<div class="social-img-wrap">
								<img src="{{ "/assets/img/logos/medium.svg" | prepend: site.baseurl }}" class="social-img filter-grey" alt="">
							</div>
							<p class="text-grey">Medium</p>
						</a>
					</div>
				</div>
				<div class="col-xl-1 col-sm-1 pad-none">
					<div class="social-wrap" >
						<a href="https://twitter.com/project_ecc">
							<div class="social-img-wrap">
								<img src="{{ "/assets/img/logos/twitter.svg" | prepend: site.baseurl }}" class="social-img filter-grey" alt="">
							</div>
							<p class="text-grey">Twitter</p>
						</a>
					</div>
				</div>
				<div class="col-xl-1 col-sm-1 pad-none ">
					<div class="social-wrap" >
						<a href="https://www.reddit.com/r/ecc/">
							<div class="social-img-wrap">
								<img src="{{ "/assets/img/logos/reddit.svg" | prepend: site.baseurl }}" class="social-img filter-grey" alt="">
							</div>
							<p class="text-grey">Reddit</p>
						</a>
					</div>
				</div>
				<div class="col-xl-1 col-sm-1 pad-none">
					<div class="social-wrap" >
						<a href="https://bitcointalk.org/index.php?topic=1006830">
							<div class="social-img-wrap">
								<img src="{{ "/assets/img/logos/bitcoin.svg" | prepend: site.baseurl }}" class="social-img filter-grey" alt="">
							</div>
							<p class="text-grey">Bitcoin Talk</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section background-ecc-dark">
		<div class="container thin-line">
		</div>
	</div>
	<div class="section padding-top-bottom-big background-ecc-dark" id="donate">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-wrap text-center">
						<div class="back-title">DONATE</div>
						<h3 class="text-white">Support the work.</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 align-self-center">
					<p class="lead text-grey">The developer fund is used to cover many of the expenses that are incurred while developing ecc. Currently all of these expenses are paid out of pocket by the dev team. These include but are not limited to paying for github services, website hosting, services like blockexplorers, research, and development in general. <br><br>We would like to offer the ability to donate directly to the developers and do appreciate any amount you may want to contribute. <br><br>* Any donations received are used at the discretion of the Eccoin development team.</p>
				</div>
				<div class="col-md-5 order-first order-md-last mb-4 mb-md-0">
						<div class="row" style="flex-direction:column;justify-content: space-between;" >
							<div class="donation-address-container">
							<div class="input-group">
								<div class="input-group-prepend">
			            			<div class="input-group-text">
										<img class="crypto-icon" src="{{ "/assets/img/btc.svg" | prepend: site.baseurl }}" title="BTC" data-toggle="tooltip">
									</div>
								</div>
								<input type="text" class="form-control donation-address-input" readonly value="1LwAKnUUZhdG8xqWKmjaRi9xs9BpETMRU5">
							</div>
						</div>
						<div class="donation-address-container">
							<div class="input-group">
								<div class="input-group-prepend">
			            			<div class="input-group-text">
										<img class="crypto-icon" src="{{ "/assets/img/bch.svg" | prepend: site.baseurl }}" title="BCH" data-toggle="tooltip">
									</div>
								</div>
								<input type="text" class="form-control donation-address-input" readonly value="14WLE4mzFxbDCa4sXvnx4EYeBz4jmScCDJ">
							</div>
						</div>
						<div class="donation-address-container">
							<div class="input-group">
								<div class="input-group-prepend">
			            			<div class="input-group-text">
										<img class="crypto-icon" src="{{ "/assets/img/ecc_badge.svg" | prepend: site.baseurl }}" title="ECC" data-toggle="tooltip">
									</div>
								</div>
								<input type="text" class="form-control donation-address-input" readonly value="ESnoQdpHH5vLafzj9nvXqRugPSkd2ZNrch">
							</div>
						</div>
						<div class="donation-address-container">
							<div class="input-group">
								<div class="input-group-prepend">
			            			<div class="input-group-text">
										<img class="crypto-icon" src="{{ "/assets/img/ltc.svg" | prepend: site.baseurl }}" title="LTC" data-toggle="tooltip">
									</div>
								</div>
								<input type="text" class="form-control donation-address-input" readonly value="LPADrS2UjUXjYikZd3y3jv6MeZSHP5HukT">
			    			</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- LYNX MODAL -->
	<div class="modal fade bd-example-modal-lg" id="lynx-modal" tabindex="-1" role="dialog" aria-labelledby="lynx-modal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content dark">
				<div class="modal-header">
					<h4 class="mb-0">DOWNLOAD LYNX</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-xl-12">
								<p class="mb-3">Please report any issues with Lynx to the Lynx github issues area: <br><a href="https://github.com/project-ecc/Lynx/issues" target="_blank">https://github.com/project-ecc/Lynx/issues</a> </p>
								<div class="wallet-button-list mt-5">
									<a class="btn btn-primary mb-3" href="https://github.com/project-ecc/lynx/releases/latest/download/Lynx-0.2.13-i386.AppImage" role="button"><span>LINUX (32-bit)</span></a>
									<a class="btn btn-primary mb-3" href="https://github.com/project-ecc/lynx/releases/latest/download/Lynx-0.2.13-x86_64.AppImage" role="button"><span>LINUX (64-bit)</span></a>
									<a class="btn btn-primary mb-3" href="https://github.com/project-ecc/lynx/releases/latest/download/Lynx-0.2.13-mac.zip" role="button"><span>macOS (10.12+)</span></a>
									<a class="btn btn-primary mb-3" href="https://github.com/project-ecc/lynx/releases/latest/download/Lynx.Setup.0.2.13-win32.exe" role="button"><span>WINDOWS (32-bit)</span></a>
									<a class="btn btn-primary mb-3" href="https://github.com/project-ecc/lynx/releases/latest/download/Lynx.Setup.0.2.13-win64.exe" role="button"><span>WINDOWS (64-bit)</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ELECTRUM MODAL -->
	<div class="modal fade bd-example-modal-lg" id="electrum-modal" tabindex="-1" role="dialog" aria-labelledby="electrum-modal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content dark">
				<div class="modal-header">
					<h4 class="mb-0">DOWNLOAD ECC-ELECTRUM</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-xl-12">
								<p class="mb-3">Please report any issues with Electrum-ECC to the Electrum-ECC github issues area: <br><a href="https://github.com/project-ecc/electrum-ecc/issues" target="_blank">https://github.com/project-ecc/electrum-ecc/issues</a></p>
								<div class="wallet-button-list mt-5">
									<a class="btn btn-primary mb-3" href="https://github.com/project-ecc/electrum-ecc/releases/download/3.3.6-ecc/electrum-ecc-3.3.6-ecc-windows-setup.exe" role="button"><span>WINDOWS INSTALLER (64-bit)</span></a>
									<a class="btn btn-primary mb-3" href="https://github.com/project-ecc/electrum-ecc/releases/download/3.3.6-ecc/electrum-ecc-3.3.6-ecc-windows-portable.exe" role="button"><span>WINDOWS PORTABLE (64-bit)</span></a>
									<a class="btn btn-primary mb-3" href="https://github.com/project-ecc/electrum-ecc/releases/download/3.3.6-ecc/electrum-ecc-3.3.6.0-android-debug.apk" role="button"><span>ANDROID</span></a>
									<a class="btn btn-primary mb-3" href="https://github.com/project-ecc/electrum-ecc/releases/download/3.3.6-ecc/electrum-ecc-3.3.6-ecc-linux-x86_64.AppImage" role="button"><span>LINUX (64-bit)</span></a>
									<a class="btn btn-primary mb-3" href="index.html#" role="button"><span>macOS (10.12+) [NOT YET AVAILABLE]</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- CLI MODAL -->
	<div class="modal fade bd-example-modal-lg" id="cli-modal" tabindex="-1" role="dialog" aria-labelledby="cli-modal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content dark">
				<div class="modal-header">
					<h4 class="mb-0">DOWNLOAD CLI-DAEMON</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-xl-12">
								<p class="mb-3">Please report any issues with the CLI-Daemon to the eccoin gitlab issues area: <br><a href="https://gitlab.com/project-ecc/eccoin/issues" target="_blank">https://gitlab.com/project-ecc/eccoin/issues</a></p>
								<div id="accordion" class="accordion-style">
									<div class="card">
										<div class="card-header" id="headingOne">
											<a class="text-white" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												For info about verifying the release binaries using dev signatures click here:
											</a>
										</div>
										<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
											<div class="card-body" style="max-height: 350px;overflow: auto">
												<p class="text-grey">The signatures below attest that the individual named compiled eccoin from Gitlab source and produced the following files with the corresponding sha256 hashes. <br><br> To validate these signatures, use verifymessage on any eccoin client. Paste the signer's address into the first field, the signature statement into the second field, and the signature into the third one. Note: do not change the whitespace of the signature statement. Finally run 'sha256sum' on your downloaded file to make sure it matches. <br><br>Do not add a final return character to the statement below when verifying the signature in the client.</p>
												<ul class="app-list mt-4">
													<li>
														<span class="text-grey">Signature Statement:</span><br>
                                                        { 'files': { 'eccoin-0.4.2.0-arm32.tar.gz': '0b956f9f22794d08a615032c39fe4ab453abef362af7e75a71467483eeab7bc4',
           'eccoin-0.4.2.0-arm64.tar.gz': '97aa6cc6ad097fdfbff27d9c9fb9fecd6cf876904e255c44d148299036b9054a',
           'eccoin-0.4.2.0-linux32.tar.gz': 'af0924e9ebac10886a3ddecd30eb728c45078413ad6b87b1fe4cc974d351c33b',
           'eccoin-0.4.2.0-linux64.tar.gz': 'eaea2cc5b6d3d62bc919b938c34873b6597fc9b56207c0e9de81287b0d5c74a4',
           'eccoin-0.4.2.0-osx64.tar.gz': 'a1491d9a7553ab633fc062321434af98a7424aa7875c8b39a9e4d80a6e78fd7a',
           'eccoin-0.4.2.0-win32.zip': '96666b586bc8fcf25a5e9bf229baf1d4daa346aa5eedc161add8c286c01a233a',
           'eccoin-0.4.2.0-win64.zip': '4d384146796bd09e3ce086004f281a6cdb80589031d9852f1f6019c69817a3ad'},
'program': 'eccoin',
'version': '0.4.2.0'}
													</li>
													<br>
													<li>
														<span class="text-grey">Compiled by: </span>
														<br>Dolaned<br>
														<span class="text-grey">Address:</span>
														<br> EdoanSKW91Tywbj7EuW1n23kSEsKhUFdbo<br>
														<span class="text-grey">Signature:</span>
														<br> TBD
													</li>
													<br>
													<li>
														<span class="text-grey">Compiled by:</span>
														<br>Griffith<br>
														<span class="text-grey">Address:</span>
														<br>Eccgriff83vweJXM2yrzucYrCvDqZNsh7x<br>
														<span class="text-grey">Signature:</span>
														<br> GzKhRXx/Ml2a85OPbdnglG3wVC0Dzg3p06zIQ0ywUxPiSFWPrxQK5KzuGgYPiYXT1RfrRI+QJekplNmpC5Vhc7w=
													</li>
													<br>
													<li>
														<span class="text-grey">Compiled by:</span>
														<br>Henry_Young<br>
														<span class="text-grey">Address:</span>
														<br>EcchenrytQr1HBQXBDbHNNXYpqw8zsY2AC<br>
														<span class="text-grey">Signature:</span>
														<br> TBD
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="wallet-button-list mt-5">
									<a class="btn btn-primary mb-3" href="https://gitlab.com/project-ecc/eccoin/uploads/57fd31a7f554a6d955940b16880c5df5/eccoin-0.4.2.0-arm32.tar.gz" role="button"><span>LINUX (ARM-32-bit)</span></a>
									<a class="btn btn-primary mb-3" href="https://gitlab.com/project-ecc/eccoin/uploads/8fb0b31e10195ef5fa3d3fec946b0e65/eccoin-0.4.2.0-arm64.tar.gz" role="button"><span>LINUX (ARM-64-bit)</span></a>
									<a class="btn btn-primary mb-3" href="https://gitlab.com/project-ecc/eccoin/uploads/14172f30c256ebdd996ec2585b55ea54/eccoin-0.4.2.0-linux32.tar.gz" role="button"><span>LINUX (x86-32-bit)</span></a>
									<a class="btn btn-primary mb-3" href="https://gitlab.com/project-ecc/eccoin/uploads/c1e096ac1a6b7a17cd41a8332e7fbad9/eccoin-0.4.2.0-linux64.tar.gz" role="button"><span>LINUX (x86-64-bit)</span></a>
									<a class="btn btn-primary mb-3" href="https://gitlab.com/project-ecc/eccoin/uploads/c0ee963d433d0d778cbc6fc865dc4fd9/eccoin-0.4.2.0-osx64.tar.gz" role="button"><span>macOS (10.12+)</span></a>
									<a class="btn btn-primary mb-3" href="https://gitlab.com/project-ecc/eccoin/uploads/9e14d4b2e379cad1ee211f6e4180fb51/eccoin-0.4.2.0-win32.zip" role="button"><span>WINDOWS (32-bit)</span></a>
									<a class="btn btn-primary mb-3" href="https://gitlab.com/project-ecc/eccoin/uploads/f4c9272da77e7ffce90b2e3c04338cd3/eccoin-0.4.2.0-win64.zip" role="button"><span>WINDOWS (64-bit)</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

{% include _footer.html %}
